<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Livros de Java, Android, iPhone, Ruby, PHP e muito mais - Casa do Código</title>
</head>
<body>
<form action="/mikrotik" method="post">
<h1>Casa do Código</h1>
<table>
    <tr>
        <td>Java 8 Prático</td>
        <td>Certificação OCJP</td>
        <input type="text" name="localRot">
    </tr>
    <tr>
        <td>TDD na Prática - JAVA</td>
        <td>Google Android</td>
    </tr>
</table>
</form>
</body>
</html>